*{
  margin: 0;
  padding: 0;
  background-color: #F9FAFB;
}
body{
  display: flex;
  flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E293B;
    height: 10vh;
    width: 98.7vw;
    border-bottom: 0.1vh black solid;
  }
  main{
    height: 89.9vh;
    width: 98.7vw;
    background-color: #F9FAFB;
    border-bottom: 0.1vh black solid;
    display: flex;
    flex-direction: row;
  }
  main .left{
    border: 0.1vh black solid;
    margin: 1vh;
    height: 88vh;
    width: 33.9vw;
  }
  main .right{
    border: 0.1vh black solid;
    margin: 1vh;
    height: 88vh;
    width: 64.8vw;
    display: flex;
    flex-direction: column;
  }
  main .right .right-up{
    border: 0.1vh black solid;
    margin: 0.5vh;
    height: 44vh;
    width: 64.8;
  }
  main .right .right-down{
    border: 0.1vh black solid;
    margin: 0.5vh;
    height: 44vh;
    width: 64.8;
  }
  footer{
    height: 30vh;
    width: 98.7vw;
    background-color: #1E293B;
  }